h1{
    color:white;
    background-color:green;
    padding: 10px;

    }
    strong{
        color:blue;
        
    }
    h3{
        color:red;
    }
    img{
        border-radius: 50%;

    }
    em{
        color:blue;
        font-weight: bold;
    }